.footer{
	text-align: center;
	margin-top: 120px;
	padding-bottom: 50px;
	&--logo{
		img{
			height: 80px;
		}
	}
	h2{
		color: $primaryColor;
		font-size: 1.4rem;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	p{
		color: $secondaryColor;
	}

	ul{
		a{
			color: $secondaryColor;
			font-size: 1.6rem;
			padding: 10px 15px;
			transition: color 300ms;
			&:first-child{
				padding-left: 0;
			}
			&:hover{
				color: $primaryColor;
			}
		}
	}
}