.single{
	position: relative;
	&--thumb{
		margin: 50px 0;
		margin-top: 0;
		img{
			width: 100%;
		}
	}


	&--post{
		padding-left: 40px;
		max-width: 680px;
		margin: 0 auto;

		h1{
			color: $titleColor;
			font-size: 2rem;
		}
		h2{
			margin-top: 60px;
		    font-size: 1.9rem;
		    font-weight: bold;
		}
		&-meta{
			color: rgba(0, 0, 0, 0.84);
			i.fas{
				margin-right: 5px;
			}
			strong{
				font-weight: 500;
				color: darken(rgba(0, 0, 0, 0.84), 30);
			}
		}

		&-content{
			margin-top: 25px;
			color: darken($secondaryColor, 30);
			font-size: 21px;
			max-width: 960px;
			@include media-breakpoint-down(md){
				font-size: 17.5px;
			}
			p{
				margin-bottom: -0.46em;
				margin-top: 2em;
				&:first-child{
					margin-top: 0.86em;
				}
			}

			h2 + p, h1 + p{
				margin-top: 0.86em;
			}
			ul, ol{
				margin: 2rem 0;
			}
			img{
				max-width: 70% !important;
				margin: 20px auto;
				display: block;
			}
		}

		&-comments{
			margin-top: 30px;
		}
		&-share{
			margin-top: 30px;
			ul{

			}
			li{
				display: inline-block;
				text-align: center;
				margin: 20px;
				&:first-child{
					margin-left: 0;
				}
			}
			a{
				color: $primaryColor;
				font-size: 1.3rem;
			}
		}
	}
}